%table.table-data
	%tr
		%th Subject
		%th Teacher
		%th 1st test marks
		%th 2nd test marks
		%th 3rd test marks
	- @records.each do |record|
		%tr 
			%td= record.subject
			%td= record.teacher
			%td= record.mark_1
			%td= record.mark_2
			%td= record.mark_3
			- if params[:a] == "edit"
				%td= link_to "edit", edit_record_path(record)
			- if params[:a] == "delete"	
				%td= link_to "delete", record_path(record), method: :delete
			


