%table.table-data
	%tr
		%th Subject
		%th Teacher
		%th 1st test marks
		%th 2nd test marks
		%th 3rd test marks
	- @records.each do |record|
		%tr
			%td= record.subject
			%td= record.teacher
			%td= record.mark_1
			%td= record.mark_2
			%td= record.mark_3
			%td= link_to 'delete', record, method: :delete

